<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deccan.courseline"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="deccan.courseline.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="deccan.courseline.RegisterActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="deccan.courseline.SearchActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="deccan.courseline.AdditionActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_addition"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="deccan.courseline.DeletionActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_deletion"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="deccan.courseline.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="deccan.courseline.SubmissionActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_subject"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="deccan.courseline.NotesActivity"
            android:label="@string/title_activity_notes" >
        </activity>
        <activity
            android:name="deccan.courseline.ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
    </application>

</manifest>